/* Font */

@font-face {
	font-family: 'FoundersGrotesk';
	src: url("/font/founders-grotesk-condensed-web-bold.woff"),
		url("/font/founders-grotesk-condensed-web-bold.eot")
}

CSS Reset
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global */


p {
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 15px;
	line-height: 18px;
	font-style: normal;
}

.title {
	font-family: FoundersGrotesk, sans-serif;
	font-size: 130px;
	line-height: 110px;
	font-weight: bold;
	letter-spacing: 0px;
	text-transform: uppercase;
	font-style: bold;
}

h1 {
	font-family: FoundersGrotesk, sans-serif;
	font-size: 40px;
	line-height: 43px;

}

h2 {
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
	line-height: 32px;

}

h2 a {
	color: #FFBB37;
	font-weight: 600;
	text-decoration: none;
	font-style: normal;
}

h2 a:hover {
	background-color: #FFBB37;
	color: white;
	font-style: normal;
}

h3 {
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 23px;
	font-style: normal;
}

h4 {
	font-family: FoundersGrotesk, sans-serif;
	font-size: 20px;
	line-height: 23px;
}

h5 {
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 18px;
	font-weight: 600;
	font-style: normal;
}

/* Buttons */



button {
	-webkit-appearance: none;
	text-align: center;
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	background-color: none;
	border: 5px solid #FFBB37;
	border-radius: 25px;
	width: 200px;
	height: 45px;
	background-color: white;
	box-sizing: border-box;
	cursor: pointer;
}

.btnNext {
	float: right;
}

.btnStartOver {
	float: right;
}

button:hover {
	background-color: #FFBB37;
	color: white;
}

/* Sliders */

.sliderContainer {
	display: flex;
	width: 30vw;
}

.sliderInnerContainer {
	width: 100%;
}

.sliderValue {
	display: flex;
}

.slider {
	width: 100%;
}

.sliderMin {
	width: 50%;
}

.sliderMax {
	width: 50%;
	text-align: right;
}

.moreInformation a {
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #FFBB37;
	text-decoration: none;
}

/* Text Input */

.textInput {
	display: flex;
}

.textInputLabel {
	width: 75%;
}

input[type=text] {
	-webkit-appearance: none;
	width: 120px;
	height: 40px;
	border: 5px solid #FFBB37;
	border-radius: 25px;
	float: right;
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	margin-left: 50px;
	box-sizing: border-box;
}

/* Toggle */

.toggle {
	margin: auto;
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	background-color: none;
	height: 40px;
	border: 5px solid #FFBB37;
	border-radius: 25px;
	position: relative;
	display: flex;
	box-sizing: border-box;
}

.toggleStop {
	cursor: pointer;
	position: relative;
	text-align: center;
	flex-grow: 1;
	padding: 3px;
}

.toggleSelector {
	text-align: center;
	position: absolute;
	width: 0;
	box-sizing: border-box;
	color: white;
}

/* Output Fields */

.outputContainer {
	display: flex;
}

.outputLabel {
	width: 75%;
}

.outputField {
	width: 25%;
	text-align: right;
}

/* Page Layout */

.page {
	display: flex;
	position: relative;
	
}

.infoContainer {
	position: relative;
	width: 50vw;
	margin: 0 10%;
	
	
}

.info {
	width: 30vw;
}

.formContainer {
	position: relative;
	width: 50vw;
	margin: 0 10%;
	
}

.form {
	width: 30vw;
}

.cta {
	padding: 40% 0;
}


.totalUnderline {
	width: 30vw;
	height: 5px;
	background-color: black;
}
.askCommunity {
	display: flex;
}

.askCommunityText {
	width: 80%;
}
.askCommunityIcons {
	text-align: right;
	width: 20%;
}

/* Styling */

.page span {
	background: rgba (2,0,36,0);
	background: -moz-linear-gradient(180deg, rgba(2,0,36,0) 63%, rgba(255,187,55,1) 64%, rgba(255,187,55,1) 95%, rgba(255,187,55,0) 95%);
	background: -webkit-linear-gradient(180deg, rgba(2,0,36,0) 63%, rgba(255,187,55,1) 64%, rgba(255,187,55,1) 95%, rgba(255,187,55,0) 95%);
	background: linear-gradient(180deg, rgba(2,0,36,0) 63%, rgba(255,187,55,1) 64%, rgba(255,187,55,1) 95%, rgba(255,187,55,0) 95%);
}


/* Header */

.header {
	height: 10vh;
	padding: 20px;
	display: flex;
	position: fixed;
	width: 100vw;
	margin-right: 20px;
	top: 0;
}

.logo {
	font-size: 60px;
	width: 130px;
	text-align: left;
	font-family: FoundersGrotesk, sans-serif;
	font-style: bold;
	font-weight: bold;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: 0px;
}

.logoUnderline {
	height: 10px;
	background-color: black;
	margin-top: -5px;
	width: 100px;
}

.headerAdvice {
	text-align: right;
	width: 85%;
}



/* Media Queries */

/* Medium Desktop */

@media screen and (max-width: 1367px) {

	/* Global */

	.title {
		font-size: 90px;
		line-height: 70px;
	}
	p {
		font-size: 10px;
		line-height: 13px;
	}
	
	
	h1 {
		font-size: 24px;
		line-height: 27px;
	}
	
	h2 {
		font-size: 18px;
		line-height: 21px;
	}
	
	h3 {
		font-size: 14px;
		line-height: 17px;
	}
	
	h4 {
		font-size: 10px;
		line-height: 13px;
	}
	
	h5 {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
	}

	.moreInformation a {
		font-size: 10px;
		line-height: 20px;
	}
	input[type=text] {
		height: 30px;
		border: 5px solid #FFBB37;
		font-size: 12px;
		line-height: 21px;
	}

	button {
		font-size: 16px;
		line-height: 19px;
		width: 120px;
		height: 35px;
	}

	.toggle {
		font-size: 16px;
		line-height: 19px;
		height: 35px;
	}


}

@media screen and (max-width: 425px) {

	.header {
		height: 30px;
		padding: 5px;
	
	}

	.logo {
		font-size: 30px;
		width:50px;
		line-height: 35px;
	}

	.logoUnderline {
		height: 5px;
		background-color: black;
		width: 100%;
	}

	.headerAdvice {
		display: none;
	}

	/* Sliders */

	.sliderContainer {
		
		width: 90vw;
	}

	/* Page Layout */

	.infoContainer {
		display: none;
	}

	.formContainer {
		width: 90vw;
		margin: 0px;
		padding: 5vw;
	}

	.form {
		width: 90vw;
		
	}

	.totalUnderline {
		width: 90vw;
		height: 3px;
	}



}