/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global */

p {
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
}

h1 {
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
}

h2 {
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
}

h3 {
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
}

/* Sliders */

.sliderGroup {
	border: 1px solid;
}

.sliderContainer {
	display: flex;
	width: 30vw;
}

.sliderInnerContainer {
	width: 100%;
}

.sliderValue {
	display: flex;
}

.slider {
	width: 100%;
}

.sliderMin {
	width: 50%;
}

.sliderMax {
	width: 50%;
	text-align: right;
}
/* Text Input */

.textInput {
	display: flex;
	border: 1px solid;
}

.textInputLabel {
	width: 75%;
}

/* Output Fields */

.outputContainer {
	display: flex;
}

.outputLabel {
	width: 75%;
}

.outputField {
	width: 25%;
	text-align: right;
}

/* Toggle */

.toggle {
	display: flex;
	border: 1px solid;
	margin: 20px;
}

.toggleOption {
	width: 33%;
	text-align: center;
}

#toggleTotal {
	background-color: black;
	color: white;
}

/* Page Layout */

.page {
	display: flex;
	border: 5px solid;
}

.infoContainer {
	position: relative;
	width: 50vw;
	height: 1000px;
	background-color: pink;
}

.info {
	position: absolute;
	width: 30vw;
	height: 500px;
	background-color: red;
	top: 25%;
	left: 10vw;
}

.formContainer {
	position: relative;
	width: 50vw;
	height: 1000px;
	background-color: lightgreen;
}

.form {
	position: absolute;
	background-color: green;
	width: 30vw;
	left: 10vw;
}

.totalUnderline {
	width: 30vw;
	height: 5px;
	background-color: black;
}

.formFooter {
	display: flex;
}

#basicsForm {
	top: 20%;
}

#billingForm {
	top: 35%;
}

#mentorForm {
	top: 40%;
}

#resultsForm {
	top: 30%;
}

/* Header */

.header {
	height: 100px;
	background-color: yellow;
}

.logo {
	font-size: 60px;
	width: 130px;
}

.logoUnderline {
	height: 10px;
}

/* Landing Page */

.landingPage {
	display: flex;
}

.titleContainer {
	position: relative;
	width: 50vw;
	height: 1000px;
	background-color: red;
}

.title {
	font-weight: 700;
	font-style: normal;
	font-size: 100px;
	text-transform: uppercase;
	position: absolute;
	background-color: pink;
	top: 25%;
	left: 10vw;
	width: 30vw;
}

.ctaContainer {
	position: relative;
	width: 50vw;
	height: 1000px;
	background-color: green;
}

.cta {
	position: absolute;
	width: 30vw;
	top: 45%;
	left: 10vw;
	background-color: lightgreen;
}
/* Media Queries */

/* tablet */

@media screen and (max-width: 1024px) {

	/* Global */

	p {
		font-size: 10px;
	}
	
	h1 {
		font-size: 20px;
	}
	
	h2 {
		font-size: 15px;
	}
	
	h3 {
		font-size: 15px;
	}

	/* Sliders */

	.sliderContainer {
		width: 46vw;
	}

	/* Page Layout */

	.infoContainer {
		height: 600px;
	}

	.info {
		height: 300px;
		background-color: red;
	}

	.formContainer {
		width: 50vw;
		height: 600px;
	}

	.form {
		width: 46vw;
		left: 2vw;
	}

	.totalUnderline {
		width: 46vw;
		height: 3px;
	}

	.formFooter {
		display: flex;
	}

	#basicsForm {
		top: 20%;
	}

	#billingForm {
		top: 35%;
	}

	#mentorForm {
		top: 40%;
	}

	#resultsForm {
		top: 25%;
	}
		
	.titleContainer {
		height: 600px;
	}
	
	.title {
		font-size: 60px;
		top: 20%;
	}
	
	.ctaContainer {
		height: 600px;
	}
	
	.cta {
		position: absolute;
		width: 30vw;
		top: 45%;
		left: 10vw;
		background-color: lightgreen;
	}

  }

  @media screen and (max-width: 425px) {

	.header {
		height: 50px;
		background-color: yellow;
	}
	
	.logo {
		font-weight: 700;
		font-style: normal;
		font-size: 30px;
		width: 65px;
	}
	
	.logoUnderline {
		height: 5px;
		background-color: black;
		width: 100%;
	}
	/* Sliders */

	.sliderContainer {
		width: 46vw;
	}

	/* Page Layout */

	.infoContainer {
		display: none;
	}

	.formContainer {
		width: 100vw;
		height: 900px;
	}

	.form {
		width: 100vw;
		left: -5px;
	}

	.totalUnderline {
		width: 100vw;
		height: 3px;
	}

	/* Landing Page */

	.landingPage {
		display: block;
	}
		
	.titleContainer {
		height: 400px;
		width: 100vw;
	}
	
	.title {
		font-size: 40px;
		top: 20%;
		left: 5vw;
		width: 90vw;
	}
	
	.ctaContainer {
		height: 350px;
		width: 100vw;
	}
	
	.cta {
		position: absolute;
		width: 90vw;
		top: 45%;
		left: 5vw;
		background-color: lightgreen;
	}

  }
